@import "./../variables/index";
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: $color_dark_dark;
  width: 100%;

  padding: 2rem 0rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: $color_light_dark;

    i {
      font-size: 4rem;
    }
  }

  .navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;

    .active {
      background-color: $color_primary_main;
    }

    .has-badge {
      position: relative;

      sup {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $color_secondary_main;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.4rem;
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $color_dark_light;
    padding: 1rem 1.4rem;
    border-radius: 5px;

    input {
      background-color: $color_dark_light;
      outline: none;
      border: none;
      font-size: inherit;
      width: 20rem;
      color: $color_light_main;
      &::placeholder {
        color: $color_light_dark;
      }
    }

    i {
      font-size: 2rem;
    }
  }
}

// input {
//   border-radius: 5px;
//   padding: 1.1rem 1.4rem;
//   border: none;
//   outline: none;
//   background-color: $color_dark_light;
//   color: $color_light_main;
//   width: 20rem;
//   font-size: inherit;
//   box-sizing: border-box;

//   &::placeholder {
//     color: $color_light_dark;
//   }
// }
