//Variables

//-Colors
//--Gray Colors
$gray_50: #f9fafb;
$gray_100: #f3f4f6;
$gray_200: #e5e7eb;
$gray_300: #d1d5db;
$gray_400: #9ca3af;
$gray_500: #6b7280;
$gray_600: #4b5563;
$gray_700: #374151;
$gray_800: #1f2937;
$gray_900: #111827;
$gray_950: #030712;
//--Red Colors
$red_50: #fef2f2;
$red_100: #fee2e2;
$red_200: #fecaca;
$red_300: #fca5a5;
$red_400: #f87171;
$red_500: #ef4444;
$red_600: #dc2626;
$red_700: #b91c1c;
$red_800: #991b1b;
$red_900: #7f1d1d;
$red_950: #450a0a;
//--Orange Colors
$orange_50: #fff7ed;
$orange_100: #ffedd5;
$orange_200: #fed7aa;
$orange_300: #fdba74;
$orange_400: #fb923c;
$orange_500: #f97316;
$orange_600: #ea580c;
$orange_700: #c2410c;
$orange_800: #9a3412;
$orange_900: #7c2d12;
$orange_950: #431407;
//--Indigo Colors
$indigo_100: #eef2ff;
$indigo_100: #e0e7ff;
$indigo_200: #c7d2fe;
$indigo_300: #a5b4fc;
$indigo_400: #818cf8;
$indigo_500: #6366f1;
$indigo_600: #4f46e5;
$indigo_700: #4338ca;
$indigo_800: #3730a3;
$indigo_900: #312e81;
$indigo_950: #1e1b4b;

//--Primary Colors
$color_primary_light: $indigo_500;
$color_primary_main: $indigo_700;
$color_primary_dark: $indigo_900;
//--Secondary Colors
$color_secondary_light: $red_600;
$color_secondary_main: $red_700;
$color_secondary_dark: $red_800;
//--Dark Colors
$color_dark_light: $gray_700;
$color_dark_main: $gray_800;
$color_dark_dark: $gray_950;
//--Light Colors
$color_light_light: $gray_50;
$color_light_main: $gray_200;
$color_light_dark: $gray_400;
